.brand-name {
  color: blueviolet;
  font-size: 24px;
  font-weight: 600;
}
.avatar {
  font-size: 24px;
}
.dropdown-auth {
  background-color: transparent;
  border-color: transparent;
  color: gray;
}
.wallet-button {
  border: 2px solid blueviolet;
  padding: 8px;
  color: blueviolet;
  font-weight: 500;
}
.bg-white {
  background-color: white;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.modal-item {
  background-color: #f5f7fd;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.modal-item-img {
  height: 100px;
  width: 100px;
}
h4 {
  color: blueviolet;
  font-weight: 500;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #5c5c5c;
}
